@import url('https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,600,700,800,900|Barlow+Condensed:100,200,300,400,500,600,700,800,900');

body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #070a0e;
  color: white;
}

* {
  box-sizing: border-box;
}
